
.SEprator{
    width: 50%;
    height: 3px;
    background-color: #01cca1;
    margin-top: 5rem;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.projects h1{
    color: #01cca1;
    font-size: 40px;
}

.projectsCards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
 @media screen and (max-width:500px) {
    .projectsCards{
        flex-direction: column;
    }
 }
.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px #01cca1;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border-radius: 15px;
}
.projectCard:hover{
    box-shadow: 0 2px 6px red;
}

.projectCard h2{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    
}
.projectCard img{
    height: 150px;
    width: 200px;
}

@media screen and (max-width:500px) {
    .projectCard h2{
        font-size: 25px;
    }
    .projectCard img{
        height: 70px;
        width: 100px;
    }
}