body {
  background-color:#15202b;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
